$color1: #33242b;
$color2: #e30842;
$color3: #fc4630;
$color4: #ff9317;
$color5: #c4ff0d;
$color6: #fff;
$color7: #28b485;

$color-white: #fff;
$color-black: #000;
$color-light-gray-1: #f7f7f7;

//FLOAT GRID VARS
$f-grid-width: 114rem;
$f-grid-horizontal-gutter: 6rem;
$f-grid-vertical-gutter: 8rem;

//FONT-SIZES
$default-font-size: 1.6rem;